$themePink: #c5058c;
$themeLightPink: #e744b6;
$themePurple: #5d2c71;
$themeViolet: #f4e0ff;
$themeLightPurple: #b472d0;
$themeBackground: #f5f1ff;
$transparentGray: #ecececcc;
$lightGrey: #e8e8e8;
$navColors: #68155d, #72295e, #7a3f75, #8d5d8a, #a56c9d, #bc79ac;