@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/Montserrat-Medium.ttf');
    src: local('Montserrat'),
        url('/fonts/Montserrat-Medium.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat-light';
    font-style: normal;
    font-weight: 200;
    src: url('/fonts/Montserrat-Light.ttf');
    src: local('Montserrat-light'),
        url('/fonts/Montserrat-Light.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'MarckScript-Regular';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/MarckScript-Regular.ttf');
    src: local('MarckScript-Regular'),
        url('/fonts/MarckScript-Regular.ttf') format('truetype');
    font-display: swap;
}

// @font-face {
//     font-family: 'Diodrum Voltaren';
//     font-style: normal;
//     font-weight: bold;
//     src: url('/static/fonts/DiodrumVoltaren-Regular.eot');
//     src: local('Diodrum Voltaren'), local('Diodrum Voltaren'),
//         url('/static/fonts/DiodrumVoltaren-Bold.woff') format('woff'),
//         url('/static/fonts/DiodrumVoltaren-Bold.woff2') format('woff2');
//     font-display: swap;
// }