@import '../../../assets/scss/colors';

.scroll-top {
    width: 4.5rem;
    position: fixed;
    z-index: 99999;
    right: 2%;
    bottom: 20%;
    background-color: red;
    background-color: $lightGrey;
    opacity: 0.5;
    border-radius: 1rem;
    padding: .3rem;
    cursor: pointer;
}