@import '../../../assets/scss/colors';

.awssld {
    --slider-height-percentage: 40%;
    --slider-transition-duration: 700ms;
    --organic-arrow-thickness: 4px;
    --organic-arrow-border-radius: 0px;
    --organic-arrow-height: 40px;
    --organic-arrow-color: #c5058c;
    --control-button-width: 10%;
    --control-button-height: 25%;
    --control-button-background: transparent;
    --control-bullet-color: white;
    --control-bullet-active-color: #e744b6;
    --loader-bar-color: #5d2c71;
    --loader-bar-height: 6px;
}

.awssld__bullets {
    top: -32px;
    bottom: initial;
}
