@import '../../assets/scss/fonts';
@import '../../assets/scss/colors';

html {
    font-size: 62.5%;
}

body {
    margin: 0;
    font-family: 'Montserrat-light', sans-serif;
    font-size: 1.6rem;
}

img {
    width: 100%;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 2rem;
}

.shadow-hard {
    box-shadow: 3px 5px 13px 0px grey;
}

.highlight-text-purple {
    font-family: 'NothingYouCouldDo-Regular';
    color: $themePurple;
    margin: 0 0 2rem 0;
    font-size: 4rem;
}

body * {
    margin: 0;
    padding: 0;
}