@import '../../assets/scss/fonts';
@import '../../assets/scss/colors';

html {
    font-size: 62.5%;
}

body {
    margin: 0;
    font-family: 'Montserrat-light', sans-serif;
    font-size: 1.6rem;
}

body * {
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
}

p {
    margin: 1rem auto;
}

.container {
    padding: 4rem;
    max-width: 120rem;
    margin: auto;
}

.shadow-hard {
    box-shadow: 3px 5px 13px 0px grey;
}

.highlight-text {
    font-family: 'MarckScript-Regular';
    font-weight: normal;
    margin: 0 0 2rem 0;
    font-size: 5rem;
}

.text-purple {
    color: $themePurple;
}

.text-pink {
    color: $themePink;
}

.style-div-pink {
    background-color: $themePink;
    width: 100%;
}
