@import '../../../assets/scss/colors';
@import '../../../assets/scss/mixins';

.headline-block {
    margin-bottom: 14rem;
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../../../assets/images/Designs/design1.png');
    background-repeat: no-repeat;
    background-position: top right;

    @include sm {
        background-size: 39vw;
        background-position: bottom -16px left;
        margin-bottom: 7rem;
    }

    .headline-img {
        flex-basis: 45%;
        position: relative;

        @include sm {
            margin-top: 7rem;
            align-self: baseline;
            flex-basis: 50%;
        }

        img {
            z-index: 1;
            position: relative;
        }

        .style-cube {
            width: 86%;
            height: 90%;
            background-color: #5d2c71;
            position: absolute;
            top: 20%;
            left: 75%;
            z-index: 0;

            @include sm {
                top: 40%;
            }
        }
    }

    .headline-txt {
        flex-basis: 55%;
        padding: 4rem 1rem;
        position: relative;
        background-color: #e6a9cd;
        margin-top: 193px;

        @include sm {
            margin-top: 0;
            flex-basis: 50%;
        }

        p {
            font-weight: bold;
            color: $themePurple;
        }
    }

    &-right {
        background-image: url('../../../assets/images/Designs/design1r.png');
        background-position: top left;
        
        @include sm {
            background-size: 39vw;
            background-position: bottom -16px right;
        }

        .headline-img {
            order: 2;

            .style-cube {
                right: 55%;
                left: auto;
            }
        }
    }
}