@import '../assets/scss/colors';
@import '../assets/scss/mixins';

.homepage {

    .content {

        .banner {
            box-shadow: 3px 5px 13px 0px grey;
        }

        .my-tips {
            margin-top: 0;
            text-align: center;

            @include sm {
                margin-top: 3rem;
            }
        }
    }
}