.homepage {

    .content {

        .banner {
            box-shadow: 3px 5px 13px 0px grey;
            margin-bottom: 5rem;
        }

        .test {
            height: 1000px;
            width: 100%;
        }
    }
}